<!--
  Generated template for the FisherUsetermsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
        <ion-navbar>
                <ion-title>Terms of Use</ion-title>
        </ion-navbar>
</ion-header>


<ion-content padding="true" title="Terms of Use" id="fisher-terms-form">

            <form [formGroup] = "termsForm">

                        <a button href="#" clear item-right (click)="clickToggle()">{{getText()}}</a>

                        <div *ngIf="display_afr === false">
                                <p style="text-align:center"><b>Terms and Conditions</b></p>
                                <p text-wrap style="text-align:center;padding-left:0.5em;padding-right:0.5em"><!--style="padding-left:0.5em;padding-right:0.5em;text-align: center"-->
                                        <b>{{terms}}</b>
                                </p>
                        </div>

                        <div *ngIf="display_afr === true">
                                <p style="text-align:center"><b>Bepalings en Voorwaardes</b></p>
                                <p text-wrap style="text-align:center;padding-left:0.5em;padding-right:0.5em"><!--style="padding-left:0.5em;padding-right:0.5em;text-align: center"-->
                                        <b>{{terms_afr}}</b>
                                </p>
                        </div>

                        <ion-item text-wrap>
                                <ion-label>* I Agree to the terms and conditions above.</ion-label>
                                <ion-checkbox formControlName='agree' (ionChange)="termsChanged()"></ion-checkbox>
                        </ion-item>

                        <div style="color:red" text-wrap align="center" class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.agree" >
                                    <div class="error-message" *ngIf="!termsForm.get('agree').value && ( termsForm.get('agree').dirty || termsForm.get('agree')).touched"><!-- && ( termsForm.get('agree').dirty || termsForm.get('agree')).touched"-->
                                                {{ validation.message }}
                                    </div>
                            </ng-container>
                        </div>


                        <p text-wrap style="text-align:center;padding-left:0.5em;padding-right:0.5em">
                                <b> I further consent to share my data with the following parties (tick where applicable - not mandatory):</b>
                        </p>


                        <ion-list text-wrap id="termsOfUse-list2">
                                <ion-item>
                                        <ion-label> Abalobi Local Fisher Assistant</ion-label>
                                        <ion-checkbox [(ngModel)]="terms_status.terms_assistant_agreed" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                </ion-item>


                                <ion-item>
                                        <ion-label > DEFF (Department of Environment, Forestry and Fisheries) or relevant Local Regulatory Authority</ion-label>
                                        <ion-checkbox [(ngModel)]="terms_status.terms_DAFF_agreed" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                </ion-item>
                        </ion-list>

                        <button ion-button full  [disabled]="!termsForm.valid" (click)="onFisherFinishTerms()">Next</button>

            </form>

</ion-content>
